.container {
  width: 100%;
  max-width: 1280px;
}

.footer {
  padding: 0 10px;
  box-sizing: border-box;
}

.info {
  display: flex;
  justify-content: space-between;
}

.contact__list,
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.contact__item,
.social__item {
  margin-top: 10px;
  display: flex;
  align-items: center;

  & span {
    margin-left: 5px;
  }

  & a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

    & span {
      margin-left: 5px;
    }
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}