.page404Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Page404Img {
  width: 60%;
  height: 60%;
}

.Page404Text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}