.main {
  padding: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;

  &__item {
    width: 200px;
  }

  &__image {
    margin-top: 20px;
    height: 500px;
    width: 100%;
    align-content: center;
  }

  &__title {
    text-align: center;
  }
}

.sort {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.shop__item {
  width: 30%;
  height: 600px;
  border: 1px solid #ebedf0;
  margin-bottom: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.item__image {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #ebedf0;
  padding: 0;
}

.item__title {
  padding: 0;
}

.item__text {
  padding: 0;
  color: rgb(26, 30, 35);
}

.item__price {
  padding: 10px 0;
}

@media (max-width: 1023px) {
  .shop__item {
    width: 45%;
    height: 600px;
  }
}

@media (max-width: 767px) {
  .shop__item {
    width: 100%;
    height: 400px;
  }

  .item__image {
    height: 200px;
  }
}
